<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <servlet>
        <servlet-name>Creer</servlet-name>
        <servlet-class>Servlets.Creer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Creer</servlet-name>
        <url-pattern>/Creer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Lister</servlet-name>
        <servlet-class>Servlets.Lister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Lister</servlet-name>
        <url-pattern>/Lister</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Modifier</servlet-name>
        <servlet-class>Servlets.Modifier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Modifier</servlet-name>
        <url-pattern>/Modifier</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Supprimer</servlet-name>
        <servlet-class>Servlets.Supprimer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Supprimer</servlet-name>
        <url-pattern>/Supprimer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginSuccess</servlet-name>
        <servlet-class>Servlets.LoginSuccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSuccess</servlet-name>
        <url-pattern>/LoginSuccess</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Introuvable</servlet-name>
        <servlet-class>Servlets.Introuvable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Introuvable</servlet-name>
        <url-pattern>/Introuvable</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/Introuvable</location>
    </error-page>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
</web-app>
